#chessBoard {
    border: 5px solid #000000;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #22211e;
}

button {
    padding: 10px;
    color: #fbff00;
    background-color: #0066ff;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}